*{
    margin: 0;
    padding: 0;
}
/* стили для шапки */
header{ 
    width: 100%;
    height: 50px;
    background-color: orangered;
}
/* стили для формы */
form{
    margin-top: 25px;
    margin-left: 30%;
    padding: 15px;
    border: 1px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* стили для кнопки */
button{
    width: 150px;
    height: 30px;
    background-color: black;
    color: whitesmoke;
    border: 1px solid black;
}
/* стили для кнопки, когда на неё нажать */
button:active{
    background-color: aqua;
}
/* стили для блока в котором лежат все колонки */
.columns{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
/* общие стили для всех 3 колонок */
.for-begin,.in-progress,.final{
    border: 1px solid black;
    width: 33%;
    min-height: 200px;
    height: auto;
}
/* стили для карточки с заданиями(патенциально исчезнет) */
.ticket{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: auto;
    padding: 15px;
    border: 1px solid black;
}
/* для разделения карточек */
.task-border{
    border-top: 1px solid black;
    border-bottom: 1px solid blacks;
    /* display: none; */
}
input:checked{
   display: none;
}

.firstDisabled{
    pointer-events: none;
}